@import "tailwindcss";
@plugin "daisyui";

@theme {
       /* ----------------Fonts--------------- */
       --font-Roboto: "Roboto", 'sans-serif';
       /* ----------------Colors-------------- */
       --color-*: initial;
       --color-white: #fff;
       --color-Radical: #ff5252;
}